 <div class="concept">もう悩まない！自分好みの献立を</div>
   <div class="first-view">
     <%= image_tag "ori.jpg", class:"top-image" %>
   </div>

<div class="main">
  <ul class="left-list">
    <p class="food">1週間の材料</p>
      <li>たまご</li>
      <li>もやし</li>
      <li>キャベツ</li>
      <li>醤油</li>
      <li>豚肉</li>
  </ul>

  <div class="right-menu">
    <div class="date">10/1〜10/7</div>
  
    <%= image_tag "sample.jpg", class:"image" %>
    <%= image_tag "sample2.jpg", class:"image" %>
    <%= image_tag "sample3.jpg", class:"image" %>
    <%= image_tag "sample4.jpg", class:"image" %>
    <%= image_tag "sample5.jpg", class:"image" %>
    <%= image_tag "sample6.jpg", class:"image" %>
    <%= image_tag "sample7.jpg", class:"image" %>
  </div>
  
  



